/* default  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(darkgreen, green, lightgreen, lightgreen, green, darkgreen);
    color: lightgreen;
    text-shadow: 2px 2px 2px rgb(3, 27, 3);
    padding: 1rem 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
h1{
    color: rgb(109, 214, 109);
    text-decoration: underline;
}
h2{
    text-align: center;
    color: rgb(109, 214, 109);
    text-decoration: underline;
}
.project1, .project2{
    color: green;
    text-shadow: 2px 2px 2px rgb(104, 175, 104);
}
.portfolio-info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
}
.portfolio-display{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.portfolio-tab{
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 2rem;
    width: 30vw;
}
.project-pic{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.project-pic3{
    background-color: lightpink;
}
.portfolio-description{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}